<template>
  <footer class="site-footer">
    <p>An open source project by
      <a href="https://www.facebook.com/LongDuongBIT">Long Dương</a>
    </p>
    <p>Built on <a href="http://laravel.com">Laravel</a> and <a href="http://vuejs.org">Vue</a>
    <br/>
    <img src="img/moogles.gif" alt="Mooogles" width="96">
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '../../sass/_variables';

footer {
  margin-top: 64px;
  text-align: center;
  font-size: .9em;
  line-height: 1.2;
  opacity: .8;

  p {
    margin: 4px 0;
  }
}
</style>
